body{
 background: linear-gradient(to bottom right, yellow, red, pink);
  background-repeat: no-repeat;
}

img{
  width: 500px;
  padding-top: 70px;
}

p{
  opacity: 0.6;
  
}

h1{
  text-shadow: 2px 2px #F8BBD0;
  font-family: 'Architects Daughter', cursive;
}

section{
  padding: 20px;
  font-size: 18px;
  font-family: fantasy;
  font-family: 'Architects Daughter', cursive;
}

.menu{
    list-style:none;
    font-family:fantasy;
    position:fixed;
    top:10px;
    right:30px;
    z-index:10;
    cursor:pointer;
}

.link{
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
}

.link:hover{
    background-color: aquamarine;
}